#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > nav > ul > div.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih > div.tutorialContainer-2sGCg9 > div > div.listItemWrapper-KhRmzM > div > svg > foreignObject > div > div {
	background-image: url(https://cdn.discordapp.com/emojis/761616610767142963.png);
	background-size: 42px;
	background-repeat: no-repeat;
	background-position: bottom;

	svg {
		opacity: 0;
	}
}


